.inactive {
    display: none !important;
}

.column-edit-save {
    display: flex;
}

.column-edit-save input {
    width: 85%;
}

.error {
    background-color: #ff0000;
    animation: flash 0.9s forwards linear normal;
}

@keyframes flash {
  0% {
    background:#ff0000;
  }
  100% {
    background:white;
  }
}

.narrow {
    width: 60%;
    border-radius: 3px;
}